In [ ]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import missingno as mno
from sklearn import linear_model

In [ ]:
df1=pd.read_csv('/content/TotalOutcome.csv')

In [ ]:
df1.shape

(13654, 37)

In [ ]:
df1.head()

   ID_C      BMI01  ETHANL03  CIGT01  ...  APBSIU01  LIPA08  CHMA09  CLASS
0     1  28.767562       0.0     3.0  ...    1700.0     8.0     1.1      0
1     2  34.645233       0.0     3.0  ...       NaN     NaN     1.0      0
2     3  28.392191      41.0     2.0  ...    1270.0    12.0     1.1      0
3     4  22.038567       0.0     3.0  ...     770.0    32.0     1.0      0
4     5  30.452441       0.0     2.0  ...     890.0   248.0     1.0      0

[5 rows x 37 columns]

In [ ]:
df1.drop(columns=['MOVE','P_SFAT','HYPTMDCODE01','ANTA01'],inplace=True)

In [ ]:
df1.head()

   ID_C      BMI01  ETHANL03  CIGT01  ...  APBSIU01  LIPA08  CHMA09  CLASS
0     1  28.767562       0.0     3.0  ...    1700.0     8.0     1.1      0
1     2  34.645233       0.0     3.0  ...       NaN     NaN     1.0      0
2     3  28.392191      41.0     2.0  ...    1270.0    12.0     1.1      0
3     4  22.038567       0.0     3.0  ...     770.0    32.0     1.0      0
4     5  30.452441       0.0     2.0  ...     890.0   248.0     1.0      0

[5 rows x 33 columns]

In [ ]:
missing_columns = df1.columns

In [ ]:
def random_imputation(df, feature):

    number_missing = df[feature].isnull().sum()
    observed_values = df.loc[df[feature].notnull(), feature]
    df.loc[df[feature].isnull(), feature] = np.random.choice(observed_values, number_missing, replace = True)
    
    return df

In [ ]:
df = pd.DataFrame(np.zeros(df1.shape),columns=df1.columns)
for feature in missing_columns:
    df[feature] = df1[feature].copy()
    df = random_imputation(df1, feature)

In [ ]:
df.head()

   ID_C      BMI01  ETHANL03  CIGT01  ...  APBSIU01  LIPA08  CHMA09  CLASS
0     1  28.767562       0.0     3.0  ...    1700.0     8.0     1.1      0
1     2  34.645233       0.0     3.0  ...     590.0    69.0     1.0      0
2     3  28.392191      41.0     2.0  ...    1270.0    12.0     1.1      0
3     4  22.038567       0.0     3.0  ...     770.0    32.0     1.0      0
4     5  30.452441       0.0     2.0  ...     890.0   248.0     1.0      0

[5 rows x 33 columns]

In [ ]:
y = df1.CLASS.values
df1.drop(columns='CLASS',inplace=True)

In [ ]:
import numpy as np
y = np.array(y).reshape(-1,1)

In [ ]:
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import accuracy_score,roc_auc_score

In [ ]:
X_train, X_test, y_train, y_test = train_test_split(df, y, test_size=0.33, random_state=42)

clf = LogisticRegression(C=1.0, penalty= 'l2', solver='liblinear',class_weight='balanced').fit(X_train, y_train)
pred_visit_2 = clf.predict(X_test)

accuracy_score(pred_visit_2,y_test)

/usr/local/lib/python3.7/dist-packages/sklearn/utils/validation.py:985: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

0.6513537505548158

In [ ]:
roc_auc_score(y_test,pred_visit_2)

0.6552194174787181

In [ ]:
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
from sklearn import metrics
import matplotlib.pyplot as plt

In [ ]:
y_pred_proba = clf.predict_proba(X_test)[::,1]
fpr, tpr, _ = metrics.roc_curve(y_test,  y_pred_proba)

#create ROC curve
plt.plot(fpr,tpr)
plt.ylabel('True Positive Rate')
plt.xlabel('False Positive Rate')
plt.show()

In [ ]:
from sklearn.datasets import make_classification
from sklearn.linear_model import LogisticRegression
from matplotlib import pyplot
# define dataset
X, y = make_classification(n_samples=13654, n_features=10, n_informative=5, n_redundant=5, random_state=1)
# define the model
model = LogisticRegression()
# fit the model
model.fit(df1, y)
# get importance
importance = model.coef_[0]
# summarize feature importance
for i,v in enumerate(importance):
	print('Feature: %0d, Score: %.5f' % (i,v))
# plot feature importance
pyplot.bar([df1 for df1 in range(len(importance))], importance)
pyplot.show()

In [ ]:
from sklearn.datasets import make_regression
from sklearn.ensemble import RandomForestRegressor
from matplotlib import pyplot
# define dataset
df1, y = make_regression(n_samples=13655, n_features=37, n_informative=5, random_state=1)
# define the model
model = RandomForestRegressor()
# fit the model
model.fit(df1, y)
# get importance
importance = model.feature_importances_
# summarize feature importance
for i,v in enumerate(importance):
	print('Feature: %0d, Score: %.5f' % (i,v))
# plot feature importance
pyplot.bar([df1 for df1 in range(len(importance))], importance)
pyplot.show()